---
- hosts: all
  become: true
  tasks:
  # module pour installer docker
  - name: install docker
    apt:
      name:
        - docker
      update_cache: yes
  # module pour créer les dossier où stocker les fichier sources
  - name: création des dossiers /home/sources
    file:
        path: /home/sources
        mode: '0755'
        state: directory
  # module pour copier les fichiers sources
  - name: copie des fichiers sources
    copy: 
      src: fichiers_sources/
      dest: /home/sources
  # module pour monter l'image de result
  - name: Construction de l'image result
    docker_image:
        dockerfile: present
        name: img_result
        path: /fichiers_sources/result/
  # module pour monter l'image de vote
  - name: Construction de l'image vote
    docker_image:
        dockerfile: present
        name: img_vote
        path: /fichiers_sources/vote/
  # module pour monter l'image de worker
  - name: Construction de l'image worker
    docker_image:
        dockerfile: present
        name: img_worker
        path: /fichiers_sources/worker/
  # module pour supprimer les fichiers sources
  - name: Suppression fichiers sources
