---
- hosts: all
  become: true
  tasks:
  # module pour créer les dossier où stocker les fichier sources
  - name: création des dossiers /sources
    file:
        path: /sources
        mode: '0755'
        state: directory
        recurse: yes

  # module pour copier les fichiers sources
  - name: copie des fichiers sources
    copy: 
      src: ./fichiers_sources/
      dest: /sources/

  # module pour monter les images : result, vote et worker
  - name: Construction de l'image result
    command : docker build -t {{item}} /sources/{{item}}/.
    loop:
        - result
        - vote
        - worker

    # module pour supprimer le dossier des fchiers sources
  - name: Suppression dossier fichiers sources
    cmd: "rm -rf /sources/"